.C.icon {
    float: left;
    color: #000;
    position: absolute;
    top: 10%;
    width: 35px;
    height: 53px;
    border-radius: 50%;
    margin-left: 10px;
    border-top: solid 4px #003153;
    border-right: solid 4px transparent;
    border-bottom: solid 4px #003153;
    border-left: solid 4px #003153;
}

.S.icon {
    float: left;
    color: #000;
    position: relative;
    top: 10%;
    margin-left: 45px;
    width: 30px;
    height: 60px;
}

.S.icon::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border-top: 4px solid #003153;
    border-left: 4px solid #003153;
    border-bottom: 4px solid #003153;
    border-right: 4px solid transparent;
    transform: rotate(45deg);
}

.S.icon::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    border: 1px solid #003153;
    width: 30px;
    height: 30px;
    top: 39%;
    left: -7%;
    border-radius: 50%;
    border-top: 4px solid #003153;
    border-left: 4px solid #003153;
    border-bottom: 4px solid #003153;
    border-right: 4px solid transparent;
    transform: rotate(225deg);
}

.Sicon {
    margin-left: 5px;
    float: left;
    color: #000;
    position: relative;
    top: 10%;
    width: 30px;
    height: 60px;

}

.Sicon::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border-top: 4px solid #003153;
    border-left: 4px solid #003153;
    border-bottom: 4px solid #003153;
    border-right: 4px solid transparent;
    transform: rotate(45deg);
}

.Sicon::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    border: 1px solid #003153;
    width: 30px;
    height: 30px;
    top: 39%;
    left: -7%;
    border-radius: 50%;
    border-top: 4px solid #003153;
    border-left: 4px solid #003153;
    border-bottom: 4px solid #003153;
    border-right: 4px solid transparent;
    transform: rotate(225deg);
}

.blank {
    margin-left: 5px;
    float: left;
    color: #000;
    position: relative;
    top: 10%;
    width: 30px;
    height: 60px;
}

.I.icon {
    margin-left: 5px;
    float: left;
    color: #000;
    position: relative;
    top: 12%;
    width: 30px;
    height: 55px;
}

.I.icon::before {
    box-sizing: border-box;
    content: '';
    width: 30px;
    height: 50px;
    position: absolute;
    border: 4px solid #003153;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.I.icon::after {
    box-sizing: border-box;
    content: '';
    height: 50px;
    border: 2px solid #003153;
    position: absolute;
    left: 50%;
    margin-left: -2px;

}

.Cicon {
    margin-left: 5px;
    float: left;
    color: #000;
    position: relative;
    top: 10%;
    width: 35px;
    height: 53px;
}

.Cicon::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 53px;
    border-radius: 50%;
    border-top: 4px solid #003153;
    border-left: 4px solid #003153;
    border-bottom: 4px solid #003153;
    border-right: 4px solid transparent;
    box-sizing: border-box;
}

.O.icon {
    float: left;
    color: #000;
    position: relative;
    top: 10%;
    width: 35px;
    height: 53px;
}

.O.icon::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 35px;
    height: 53px;
    border: 4px solid #003153;
    border-radius: 45%;
}

.N.icon {
    margin-left: 5px;
    float: left;
    color: #000;
    position: relative;
    top: 10%;
    width: 35px;
    height: 53px;
    padding-right: 10px;

}

.N.icon::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 35px;
    height: 53px;
    border-left: 4px solid #003153;
    border-right: 4px solid #003153;
}

.N.icon::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: 58px;
    border: 2px solid #003153;
    transform: rotate(148deg);
    left: 45%;
    top: -4%;
}