.trash {
    position: absolute;
    border: 1px solid black;
    width: 27px;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    transform: translate(-15px);
}

.trash::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 5px;
    border-radius: 4px 4px 0 0;
    top: -10px;
    margin-left: 3px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.trash::after {
    content: '';
    position: absolute;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 18px;
    width: 15px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 0 0 2px 2px;
}